body{
    background-color: black;
    background-image:url(bg.jpg);
    background-size: cover;
}
.container{
    position: absolute;
    width: 250px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.192);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.822);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    
}
.heading img{
    position: absolute;
    width: 80px;
    height: auto;
}
.place h2{
    position: absolute;
    left: 30%;
    text-align: center;
    color: rgba(19, 117, 237, 0.74);
    font-size: 2rem;
}
.deg img{
    position: absolute;
    width: 260px;
    top: 45%;
    left: 40%;
    filter: brightness(0.8);
    transform: translate(-40%,-40%);
}

.deg h1{
    position: absolute;
    font-size: 4rem;
    color: aliceblue;
    top: 30%;
    left: 45%;
    transform: translate(-40%,-40%);
}
.forecast h3{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgba(0, 132, 255, 0.808);
}
.clouds{
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
.clouds::-webkit-scrollbar {
display: none;
}
.blurred{
    flex-shrink: 0;
    width: 70px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.418);
    margin: 260px 0 0 10px;
}
.blurred img{
    position: absolute;
    width: 40px;
    height: auto;

}
.blurred p{
    position: relative;
    margin-top: 40px;
    font-size: 14px;
    margin-left: 16px;
}
